.textos{
    display: flex;
    flex-direction: row;
}
.titulo{
    margin-top: 15px;
    font-size: large;
    color: #DA954A;
    font-family: 'Bungee Inline', sans-serif;
}
.tecnologias img{
/* Altura de 30% do contêiner pai */
    flex-direction: row;
    display: flex;
    max-width: 250px;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
}

.tecnologias{
    margin: 60px 80px;
}

.linha{
    margin-top: 40pt;
    max-width: 30pt;
    max-height: 490px;
}

ul{
    font-weight: 500;
}

.tecnologias li{
    margin-top: 15px;
    color: #DA954A;
}

.sobre li{
    margin-top: 15px;
    color: #DA954A;
}

.curso{
    color: #36332e;
    font-weight: 700;
}
.sobre{
    max-width: 650px;
    margin: 60px;
}

.apresentação{
    margin-top: 20px;
    color: #36332e;
    font-weight: 700;
}

/* Media query para telas menores, como dispositivos móveis */
@media (max-width: 767px) {
    .textos{
        display: flex;
        flex-direction: column;
    }

    .linha{
        display: none;
    }

    .tecnologias{
        display: none;
    }

    .sobre{
        max-width: 90%;
        margin: 0px 20px;
    }

    .titulo{
        font-size:9pt;
    }

    .apresentação{
        font-size: small;
    }

    .curso{
        font-size: small;
    }

    .tecnologias-mobile li{
        font-size: small;
        color: #DA954A;
    }

    .sobre li{
        font-size: small;
    }

    .tecnologias-mobile img{
        /* Altura de 30% do contêiner pai */
            flex-direction: row;
            display: flex;
            display: block;
            max-width: 150px;
            justify-content: space-between;
            margin-top: 20px;
            margin-bottom: 20px;
        }
        
        .tecnologias-mobile{
            margin-left: 25px;
            margin-bottom: 20px;
        }
}

/* Estilos para tablets em modo retrato */
@media (min-width: 767px) and (max-width: 1023px) {
    .tecnologias-mobile{
        display: none;
    }
    .tecnologias{
        margin: 10px 60px;
    }

    .sobre{
        margin: 10px 30px;
    }

    .titulo{
        font-size: 10pt;
    }

    .apresentação{
        font-size: 10pt;
    }

    .sobre li{
        font-size: 10pt;
    }

    .tecnologias li{
        font-size: 10pt;
    }

    .tecnologias img{
        max-width: 200px;
    }
}

/* Estilos para tablets em modo paisagem e desktops */
@media (min-width: 1024px) {
    .sobre{
        max-width: 800px;
        margin: 60px;
    }

    
    .tecnologias-mobile{
        display: none;
    }
}
